h1 {
  font-family: 'Comfortaa', sans-serif;
    color: gray;
    margin-top: 50px;
    font-size: 50px;

}

h2 {
    color: gray;
    margin-top: 0;
    font-size: 28px;
    border-bottom: 2px solid #ccc; /* this is the cool line */
    padding-bottom: 5px; /* this is the cool line */
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  height: 220px;
  margin-right: 10px;
  border-radius: 10%;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;         /* makes it round */
  border: 5px solid #f2f2f2;     /* frame color and thickness */
  object-fit: cover;          /* ensures image fills frame nicely */
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.columns {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(400px, 2fr);
  gap: 20px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.column {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .columns {
    grid-template-columns: 1fr;
  }

  .column {
    min-width: auto !important; /* allow shrinking on small screens */
  }
}




.section {
    margin-bottom: 30px;
}

.job-title, .education-degree {
    font-weight: bold;
}

.company-name, .education-university {
    font-style: italic;
    color: #555;
}

.date {
    float: right;
    font-size: 0.9em;
    color: #777;
}

ul {
    padding-left: 20px;
}

p {
  margin: 5px 0;
}

.fancy-paragraph {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    margin: 25px auto;
    line-height: 1.6;
    box-sizing: border-box;
}

/* Subclass for dark gray version */
.fancy-paragraph.profile-bubble {
  background-image: url('https://raw.githubusercontent.com/YoanaBast/my-cv/main/images/tech_bg.jpg');
  background-size: cover;
  background-position: center;
  color: black; /* or white if the background is dark */
  border-radius: 10px;
  padding: 15px;
}
