h1 {
  font-family: 'Comfortaa', sans-serif;
    color: gray;
    margin-top: 50px;
    font-size: 50px;

}

h2 {
    color: gray;
    margin-top: 0;
    font-size: 28px;
    border-bottom: 2px solid #ccc; /* this is the cool line */
    padding-bottom: 5px; /* this is the cool line */
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  height: 220px;
  margin-right: 10px;
  border-radius: 10%;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;         /* makes it round */
  border: 5px solid #f2f2f2;     /* frame color and thickness */
  object-fit: cover;          /* ensures image fills frame nicely */
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column {
    flex: 1 1 500px;
    background: white;
    padding: 20px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
}

.column:first-child {
  flex: 0 0 450px; /* fixed 300px width */
}

.column:last-child {
  flex: 1; /* take remaining space */
  min-width: 400px;
}


.section {
    margin-bottom: 30px;
}

.job-title, .education-degree {
    font-weight: bold;
}

.company-name, .education-university {
    font-style: italic;
    color: #555;
}

.date {
    float: right;
    font-size: 0.9em;
    color: #777;
}

ul {
    padding-left: 20px;
}

p {
  margin: 5px 0;
}

.fancy-paragraph {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    margin: 25px auto;
    line-height: 1.6;
    box-sizing: border-box;
}

/* Subclass for dark gray version */
.fancy-paragraph.profile-bubble {
  background-color: #dddddd;
  color: black;
}